{% extends 'base.html.twig' %}

{% block title %}Swiffer - Accueil{% endblock %}

{% block body %}
    <div class="tweet-box">
        <textarea rows="3" placeholder="Quoi de neuf ?"></textarea>
        <div style="text-align: right;">
            <button class="tweet-btn" style="width: 120px; margin-top: 10px;">Poster</button>
        </div>
    </div>

    <div class="post">
        <strong>@Sébastien</strong>
        <p>Le nouveau design est top ! </p>
    </div>

    <div class="post">
        <strong>@Dev_Mode</strong>
        <p>Les dégradés s'adaptent automatiquement au thème.</p>
    </div>
{% endblock %}
